
streamlit>=1.30.0
psycopg2-binary==2.9.9
bcrypt==4.1.2
python-dotenv==1.0.1
streamlit>=1.30.0
psycopg2-binary==2.9.9
bcrypt==4.1.2
python-dotenv==1.0.1

# langchain
# python-dotenv
# ipykernel
# langchain-community
# pypdf
# beautifulsoup4
# arxiv
# pymupdf
# wikipedia
# langchain-text-splitters
# langchain-openai
# chromadb
# sentence-transformers
# langchain-huggingface
# faiss-cpu
# langchain-chroma
# duckdb
# pandas
# openai
# langchain-groq

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langchain-chroma==0.1.1


openai>=1.30.0
python-dotenv
streamlit
scikit-learn
ipykernel

pypdf
pymupdf
beautifulsoup4
arxiv
wikipedia

faiss-cpu
sentence-transformers
pandas
duckdb
chromadb==0.4.22
numpy
duckdb-engine

unstructured
pytube 
numexpr
youtube-transcript-api
validators
SQLAlchemy
mysql-connector-python

#----------Streamlits ProjectS
vega-datasets
altair
